<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-C+OC画线方式一.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>01-C+OC画线方式二.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>01-纯C划线方式一.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>01-纯C画线方式二.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>02-纯OC画线.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>03-画图形.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>04-纯C画线样式、线宽、样式与颜色.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>05-纯OC画线样式、线宽、样式与颜色.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>06-纯C填充与描边.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>07-纯OC填充与描边.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>08-奇偶填充规则.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>09-非零环绕数规则.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>10-OC使用奇偶填充规则.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>11-饼图.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>12-柱状图.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>13-饼图封装.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>14-裁剪上下文渲染区域.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>15-矩阵操作.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>16-图片类型的图形上下文.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>17-屏幕截图.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>18-触摸事件.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>19-单点触摸事件案例.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>20-多点触摸事件案例.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>21-hit test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>22-九宫格手势解锁案例.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>23-UITapGestureRecognizer(敲击).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>23-手势识别.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>24-CALayer基本属性.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>25-手动创建CALayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>26-始终练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>27-基本动画(CABasicAnimation).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>28-转场动画（CATransition）.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>29-画板.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>30-重力.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>31-碰撞与引用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>32-碰撞行为创建边界.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>33-甩行为.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>34-附着行为-刚性附着.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>35-刚性附着-item偏移量.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>35-附着行为-item和item之间.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>36-刚性附着-item偏移量.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>37-推行为.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>38-动力学元素自身属性.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>39-毛毛虫.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>40-愤怒的小方块.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>UI进阶示例.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>xx-多个sb.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>xx-控制器view的加载方式.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>手势识别.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
	</dict>
</dict>
</plist>
